{% extends 'base.html.twig' %}

{% block title %}RefElementaryType index{% endblock %}

{% block body %}
    <h1>RefElementaryType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ref_elementary_type in ref_elementary_types %}
            <tr>
                <td>{{ ref_elementary_type.id }}</td>
                <td>{{ ref_elementary_type.name }}</td>
                <td>
                    <a href="{{ path('app_ref_elementary_type_show', {'id': ref_elementary_type.id}) }}">show</a>
                    <a href="{{ path('app_ref_elementary_type_edit', {'id': ref_elementary_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ref_elementary_type_new') }}">Create new</a>
{% endblock %}
